# Docker для E2E тестирования

version: '3.8'

services:
  wordpress:
    image: wordpress:php8.3-apache
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_NAME: wordpress_test
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_TABLE_PREFIX: wp_
    volumes:
      - ./:/var/www/html/wp-content/plugins/wp-queue
      - ./docker/wp-config.php:/var/www/html/wp-config.php
      - ./docker/.htaccess:/var/www/html/.htaccess
    depends_on:
      - mysql
    networks:
      - wordpress-network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress_test
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - wordpress-network
    command: --default-authentication-plugin=mysql_native_password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: wordpress
      PMA_PASSWORD: wordpress
    ports:
      - "8081:80"
    depends_on:
      - mysql
    networks:
      - wordpress-network

volumes:
  mysql_data:

networks:
  wordpress-network:
    driver: bridge
